ag2
aiohappyeyeballs
aiohttp
aiosignal
alabaster
altair
annotated-types
anthropic
anyio
appdirs
async-timeout
asyncer
attrs
autogen
autogen-agentchat
autogen-core
autogen-ext
babel
backoff
backports-asyncio-runner
bcrypt
black
blinker
blis
blurb
boto3
botocore
build
cachetools
catalogue
certifi
cffi
charset-normalizer
chromadb
click
cloudpathlib
coloredlogs
confection
crewai
cryptography
cymem
dataclasses-json
deepeval
diskcache
distro
docker
docstring-parser
docutils
durationpy
et-xmlfile
execnet
faiss-cpu
filelock
flatbuffers
frozenlist
fsspec
gitdb
gitpython
google-auth
google-genai
googleapis-common-protos
greenlet
griffe
grpcio
grpcio-tools
h11
h2
hpack
html2text
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
imagesize
importlib-resources
iniconfig
instructor
jinja2
jiter
jmespath
json-repair
json5
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-aws
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
language-data
litellm
lxml
marisa-trie
markdown-it-py
markupsafe
marshmallow
mcp
mdurl
mem0ai
mmh3
mpmath
multidict
murmurhash
mypy-extensions
narwhals
networkx
numpy
oauthlib
ollama
onnxruntime
openai
openai-agents
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
pandas
pathspec
pdfminer-six
pdfplumber
phonenumbers
pillow
plotly
pluggy
portalocker
posthog
preshed
presidio-analyzer
presidio-anonymizer
propcache
protobuf
pyarrow
pyasn1
pyasn1-modules
pybase64
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pyfiglet
pyjwt
pypdf
pypdf2
pypdfium2
pypika
pyproject-hooks
pyreadline3
pytesseract
pytest
pytest-asyncio
pytest-repeat
pytest-rerunfailures
pytest-xdist
python-docs-theme
python-docx
python-dotenv
python-multipart
pytz
pyvis
pyyaml
qdrant-client
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
s3transfer
sec-api
sentry-sdk
shellingham
smart-open
smmap
sniffio
snowballstemmer
spacy
spacy-legacy
spacy-loggers
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlalchemy
srsly
sse-starlette
starlette
streamlit
sympy
sqlite3>3.35.0
tabulate
tenacity
termcolor
thinc
tiktoken
tldextract
tokenizers
toml
tomli
tomli-w
tqdm
typer
types-requests
typing-inspect
typing-inspection
tzdata
urllib3
uv
uvicorn
wasabi
watchdog
watchfiles
weasel
websocket-client
websockets
wrapt
xxhash
yarl
zstandard